{% extends "base.html" %}
{% load static %}
{% load pagination_tags %}
{% load jformat %}
{% block content %}
    {% include 'base/navigator.html' %}
    {% include 'base/aside.html' %}
    <main role="main" class="main-content">
        <div class="container-fluid">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-
                            {% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show"
                         role="alert">
                        {{ message|safe }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="mb-2 page-title">متربیان</h2>
                    <p class="card-text">لیست متربیان کانون تربیتی حضرت مسلم ابن عقیل (ع)</p>
                    <div class="row my-4">
                        <!-- Small table -->
                        <div class="col-md-12">
                            <div class="accordion accordion-boxed" id="accordion2">
                                <div class="card shadow">
                                    <div class="card-header" id="headingOne">
                                        <a role="button"
                                           href="#collapseOne"
                                           data-toggle="collapse"
                                           data-target="#collapseOne"
                                           aria-expanded="false"
                                           aria-controls="collapseOne"
                                           class="collapsed">
                                            <strong>جستجو متربی</strong>
                                        </a>
                                    </div>
                                    <div class="collapse show"
                                         aria-labelledby="headingOne"
                                         data-parent="#accordion2"
                                         id="collapseOne">
                                        <div class="card-body">
                                            <div class="toolbar row mb-3">
                                                <div class="col">
                                                    <form class="form-inline" action="" method="get">
                                                        <div class="form-row">
                                                            <div class="form-group col-auto">
                                                                <label for="search">جستجو :</label>
                                                                <input type="text"
                                                                       class="form-control ml-2"
                                                                       id="search"
                                                                       name="q"
                                                                       placeholder="مقدار مورد نظر را وارد کنید "
                                                                       value="{{ request.GET.q }}"/>
                                                                <label for="searchOption" class="ml-2">جستجو براساس
                                                                    :</label>
                                                                <select class="form-control my-1 mr-sm-2 ml-2"
                                                                        id="searchOption"
                                                                        name="option">
                                                                    <option value="last_name"
                                                                            {% if request.GET.option == "last_name" %}selected{% endif %}>
                                                                        نام خانوادگی
                                                                    </option>
                                                                    <option value="clas__name"
                                                                            {% if request.GET.option == "clas__name" %}selected{% endif %}>
                                                                        گروه
                                                                    </option>
                                                                </select>
                                                                <button type="submit" class="btn ml-2 btn-warning">
                                                                    <span class="fe fe-search fe-14 mr-1"></span>جستجو
                                                                </button>
                                                                <a href="{% url 'student-view' %}"
                                                                   class="btn btn-info ml-2">نمایش همه</a>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                {% comment %} <div class="col ml-auto">
                                                    <a href="{% url 'request-create' %}" class="btn btn-success float-right ml-3" type="button">اضافه کردن +</a>
                                                </div> {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="card">
                                <div class="card-body">
                                    {% if students %}
                                        <div class="table-responsive">
                                            <table class="table table-hover text-nowrap">
                                                <thead>
                                                <tr>
                                                    <th scope="col">نام و نام خانوادگی</th>
                                                    <th scope="col">گروه</th>
                                                    <th scope="col">شماره تماس</th>
                                                    <th scope="col">کد ملی</th>
                                                    <th scope="col">عملیات</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for student in students %}
                                                    <tr>
                                                        <td>{{ student.get_full_name }}</td>
                                                        <td>{{ student.clas }}</td>
                                                        <td>{{ student.mobile }}</td>
                                                        <td>{{ student.username }}</td>
                                                        <td>
                                                            {% comment %} <button type="button"
                                                                        class="btn btn-warning btn-sm"
                                                                        onclick="modal_url('/student/update/{{ student.id }}', 'update');"
                                                                        data-toggle="modal"
                                                                        data-target="#update_modal">ویرایش</button> {% endcomment %}
                                                            <a href="{% url 'student-detail' student.id %}"
                                                               class="btn btn-outline-info btn-sm">اطلاعات کامل</a>
                                                            <a href="{% url 'sdg-list' student.id %}"
                                                               class="btn btn-outline-warning btn-sm">مواردانضباطی</a>
                                                            <a href="{% url 'grade-student-add' student.id %}"
                                                               class="btn btn-outline-secondary btn-sm">نمرات دروس
                                                                ترم</a>
                                                            <a href="{% url 'student-term-karname' student.id %}"
                                                               class="btn btn-info btn-sm">کارنامه ترم</a>
                                                            <a href="{% url 'student-update' student.id %}"
                                                               class="btn btn-outline-warning btn-sm">ویرایش</a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                            هیچ نتیجه ای در جستجو یافت نشد! مجددا تلاش کنید.
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">x</span>
                                            </button>
                                        </div>
                                    {% endif %}
                                    <div class="row">
                                        <nav aria-label="">
                                            <ul class="pagination">
                                                {% smart_pagination page_obj 2 1 as pages_to_show %}

                                                {% if page_obj.has_previous %}
                                                    <li class="page-item">
                                                        <a class="page-link"
                                                           href="{% page_url page_obj.previous_page_number %}">قبلی</a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item disabled"><span class="page-link">قبلی</span>
                                                    </li>
                                                {% endif %}

                                                {% for page in pages_to_show %}
                                                    {% if page %}
                                                        {% if page == page_obj.number %}
                                                            <li class="page-item active"><span
                                                                    class="page-link">{{ page }}</span></li>
                                                        {% else %}
                                                            <li class="page-item">
                                                                <a class="page-link"
                                                                   href="{% page_url page %}">{{ page }}</a>
                                                            </li>
                                                        {% endif %}
                                                    {% else %}
                                                        <li class="page-item disabled"><span class="page-link">…</span>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}

                                                {% if page_obj.has_next %}
                                                    <li class="page-item">
                                                        <a class="page-link"
                                                           href="{% page_url page_obj.next_page_number %}">بعدی</a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item disabled"><span class="page-link">بعدی</span>
                                                    </li>
                                                {% endif %}
                                            </ul>

                                        </nav>
                                        <div class="col-md-2">
                                            <!-- فرم برای وارد کردن شماره صفحه -->
                                            <form id="goToPageForm" method="get">
                                                <div class="input-group">
                                                    <input type="number" class="form-control" name="page" id="pageInput"
                                                           placeholder="شماره صفحه" min="1"
                                                           max="{{ page_obj.paginator.num_pages }}">
                                                    <button class="btn btn-sm btn-primary" type="submit">برو به صفحه
                                                    </button>
                                                </div>

                                                {# پارامترهای جستجو را هم نگه دار #}
                                                {% if request.GET.q %}
                                                    <input type="hidden" name="q" value="{{ request.GET.q }}">
                                                {% endif %}
                                                {% if request.GET.option %}
                                                    <input type="hidden" name="option" value="{{ request.GET.option }}">
                                                {% endif %}
                                                {% if request.GET.per_page %}
                                                    <input type="hidden" name="per_page"
                                                           value="{{ request.GET.per_page }}">
                                                {% endif %}
                                            </form>


                                        </div>
                                        <div class="col-md-3 ">
                                            <form method="get" id="perPageForm" class="form-inline">
                                                <label for="perPageSelect">تعداد در هر صفحه:</label>
                                                <select name="per_page" id="perPageSelect" class="form-control"
                                                        onchange="document.getElementById('perPageForm').submit();">
                                                    <option value="10"
                                                            {% if request.GET.per_page == '10' %}selected{% endif %}>10
                                                    </option>
                                                    <option value="25"
                                                            {% if request.GET.per_page == '25' %}selected{% endif %}>25
                                                    </option>
                                                    <option value="50"
                                                            {% if request.GET.per_page == '50' %}selected{% endif %}>50
                                                    </option>
                                                    <option value="100"
                                                            {% if request.GET.per_page == '100' %}selected{% endif %}>
                                                        100
                                                    </option>
                                                </select>

                                                {# فیلترها و صفحه فعلی را نگه دار #}
                                                {% if request.GET.q %}
                                                    <input type="hidden" name="q" value="{{ request.GET.q }}">
                                                {% endif %}
                                                {% if request.GET.option %}
                                                    <input type="hidden" name="option" value="{{ request.GET.option }}">
                                                {% endif %}
                                                
                                            </form>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- simple table -->
                </div>
                <!-- end section -->
            </div>
            <!-- .col-12 -->
        </div>
        <!-- .row -->
    </main>
    {% include 'base/updateModal.html' %}
    {% include 'base/detailModal.html' %}
{% endblock content %}
{% block moreScript %}
    <script src="{% static 'plugins/jalaliDatepicker/kamadatepicker.min.js' %}"></script>
    <script>kamaDatepicker('id_register_date', {buttonsColor: "green", forceFarsiDigits: true});</script>
    <script>
        function modal_url(url, type) {
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    $("#" + type + "_modal_body").html(data);
                }
            })
        }
    </script>
{% endblock moreScript %}
