{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load jformat %}
{% block content %}
    {% include 'base/navigator.html' %}
    {% include 'base/aside.html' %}
    <main role="main" class="main-content">
        <div class="container-fluid">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-
                            {% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show"
                         role="alert">
                        {{ message|safe }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="mb-2 page-title">قرار پرداخت های متربی {{ student }}</h2>
                    <a href="{% url "tuition-list" %}" class="btn btn-warning">بازگشت به شهریه ها</a>
                    <div class="row my-4">

                        <!-- Small table -->
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    {% if pay_days %}
                                        <div class="table-responsive">
                                            <table class="table table-hover text-nowrap">
                                                <thead>
                                                <tr>
                                                    <th scope="col">تاریخ موعد پرداخت</th>
                                                    <th scope="col">مبلغ موعد</th>
                                                    <th scope="col">وضعیت پرداخت</th>
                                                    <th scope="col">وضعیت ارسال پیامک</th>
                                                    <th scope="col">عملیات</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for pd in pay_days %}
                                                    <tr {% if pd.is_paid %}class="table-success"
                                                        {% else %}class="table-warning"{% endif %}>
                                                        <td>{{ pd.jd_pay_date }}</td>
                                                        <td>{{ pd.price_view }}تومان</td>
                                                        <td>{% if pd.is_paid %}
                                                            <span class="badge badge-pill badge-success">تسویه شده</span>
                                                        {% else %} پرداخت نشده{% endif %}
                                                        </td>
                                                        <td>
                                                            {% if pd.is_send_sms %}
                                                                <button type="button"
                                                                        class="btn btn-sm rounded-pill btn-success pp"
                                                                        data-container="body" data-toggle="popover"
                                                                        data-placement="top"
                                                                        data-content="{{ pd.sms }}">
                                                                    ارسال موفق
                                                                </button>
                                                            {% else %}
                                                                {% if not pd.sms %}
                                                                    <span class="badge badge-pill badge-warning">ارسال نشده</span>
                                                                {% else %}
                                                                    <span class="badge badge-pill badge-danger">ارسال ناموفق</span>
                                                                {% endif %}
                                                            {% endif %}

                                                        </td>
                                                        <td>
                                                            <a href="{% url 'payday-payed' pd.id %}"
                                                               class="btn btn-sm btn-success">پرداخت شد</a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                            هیچ نتیجه ای در جستجو یافت نشد! مجددا تلاش کنید.
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">x</span>
                                            </button>
                                        </div>
                                    {% endif %}
                                    <div class="row">
                                        <nav aria-label="">
                                            <ul class="pagination">
                                                {% if page_obj.has_previous %}
                                                    <li class="page-item">
                                                        <a class="page-link"
                                                           href="?page={{ page_obj.previous_page_number }}"
                                                           tabindex="-1">قبلی</a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="">صفحه قبل</a>
                                                    </li>
                                                {% endif %}
                                                <li class="page-item active">
                                                    <a class="page-link" href="#">{{ page_obj.number }} <span
                                                            class="sr-only">(صفحه فعلی)</span></a>
                                                </li>
                                                {% if page_obj.has_next %}
                                                    <li class="page-item">
                                                        <a class="page-link"
                                                           href="?page={{ page_obj.next_page_number }}">صفحه بعد</a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="">صفحه بعد</a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- simple table -->
                </div>
                <!-- end section -->
            </div>
            <!-- .col-12 -->
        </div>
        <!-- .row -->
    </main>
    {#    {% include 'base/updateModal.html' %}#}
    {% include 'base/createModal.html' %}
    {% include 'base/detailModal.html' %}
{% endblock content %}
{% block moreScript %}
    <script src="{% static 'plugins/jalaliDatepicker/kamadatepicker.min.js' %}"></script>
    <script>kamaDatepicker('id_register_date', {buttonsColor: "green", forceFarsiDigits: true});</script>
    <script>
        function modal_url(url, type) {
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    $("#" + type + "_modal_body").html(data);
                }
            })
        }

        $(function () {
            $('.pp').popover({
                container: 'body'
            })
        })
    </script>
{% endblock moreScript %}
